@page
@model FleetManagerWeb.Pages.Vacations.DetailsModel
@{
    ViewData["Title"] = "Szczegóły";
}
<h2>Szczegóły urlopu</h2>

<table class="table">
    <tr>
        <th>Kierowca:</th>
        <td>@Model.Vacation.Driver.FirstName @Model.Vacation.Driver.LastName</td>
    </tr>
    <tr>
        <th>Od:</th>
        <td>@Model.Vacation.From.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Do:</th>
        <td>@Model.Vacation.To.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Zastępca:</th>
        <td>
            @(Model.Vacation.SubstituteDriver != null
                        ? Model.Vacation.SubstituteDriver.FirstName + " " + Model.Vacation.SubstituteDriver.LastName
                        : "-")
        </td>
    </tr>
</table>

<a class="btn btn-warning" href="/Vacations/Edit?id=@Model.Vacation.Id">Edytuj</a>
<a class="btn btn-secondary" href="/Vacations/Index">Powrót</a>
